# 3.1. Data collections

## List

List is a type used to store multiple items in the same ordered and indexed structure.
Every item in the list can be of different type.
Usually in one list we store same types.

List does preserve its order - when item is added to list on one position, it remains on that position if we don't change it.

Indexed means that address of the item in the list is an index.

<div class="alert alert-info"><b>Example 01</b></div>

Write a program that initializes the list with 5 numbers.

Print the elements of the list using a for loop.

Print the middle three elements of the list using a for loop.

Print the list in reverse using a for loop.

4
5
7
9
12

5
7
9

12
9
7
5
4

<div class="alert alert-info"><b>Example 02</b></div>

Initialize an empty list and:

- append integers from 1 to 10
- append every 20th integer from 100 to 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 80, 60, 40, 20, 0]

<div class="alert alert-info"><b>Example 03</b></div>

In an infinite loop, load a word from the user and append it to the list.
Then the program should ask "Add another? (yes/no)", and if the answer is either 'y' or 'yes' then the loop continues, otherwise exits.
At the end, print all the words.

['asdf', 'qwewqr', 'fsfdg']

<br><div class="alert alert-info"><b>Example 04</b></div>

Write a program in which you fill the list with 300 random numbers between 1 and 1000.

[701, 615, 501, 458, 882, 656, 519, 639, 586, 347, 558, 371, 296, 996, 811, 795, 561, 517, 887, 877, 356, 25, 425, 191, 853, 937, 945, 539, 623, 260, 538, 767, 377, 508, 808, 967, 648, 749, 412, 886, 519, 95, 127, 372, 475, 8, 330, 505, 914, 463, 443, 668, 483, 424, 649, 311, 623, 634, 660, 833, 629, 397, 160, 137, 330, 322, 334, 892, 809, 558, 443, 466, 683, 675, 852, 951, 324, 890, 542, 973, 463, 473, 749, 193, 495, 994, 349, 957, 919, 31, 563, 397, 290, 394, 116, 619, 206, 554, 607, 322, 58, 435, 973, 565, 949, 685, 498, 768, 811, 501, 872, 934, 705, 769, 188, 994, 831, 765, 613, 205, 958, 368, 485, 490, 298, 164, 800, 152, 508, 556, 269, 823, 137, 957, 382, 565, 484, 719, 279, 584, 428, 607, 128, 796, 467, 589, 598, 757, 163, 318, 310, 194, 313, 189, 51, 164, 631, 72, 270, 178, 144, 122, 169, 281, 394, 319, 436, 929, 224, 417, 678, 579, 969, 407, 418, 935, 416, 994, 419, 678, 318, 551, 349, 484, 939, 420, 662, 638, 138, 637, 873, 581, 129, 170, 392, 985, 818, 10, 441, 78, 209, 776, 101, 729, 978, 96, 440, 136, 396, 493, 32, 739, 993, 430, 191, 300, 107, 404, 927, 907, 632, 602, 710, 52, 603, 540, 818, 77, 78, 658, 183, 385, 671, 466, 349, 838, 609, 273, 849, 310, 187, 597, 207, 951, 802, 503, 824, 264, 149, 984, 694, 456, 95, 265, 736, 687, 229, 743, 68, 571, 402, 698, 625, 161, 197, 875, 600, 722, 769, 242, 253, 804, 232, 832, 500, 57, 772, 809, 718, 429, 760, 801, 639, 220, 841, 909, 232, 64, 380, 856, 676, 343, 365, 117, 399, 921, 699, 837, 111, 489]

## Dictionary

Dictionary is a type used to store values that can be addressed using keys. 

As in list, every item in the dictionary can be of different type.
Also, every key can be of different type.

Structure does have an order, but traditionally we don't rely on it (ordered from v3.7).

<div class="alert alert-info"><b>Example 05</b></div>

Write a code that initializes a dictionary "car" with the following keys: manufacturer, model, engineVolume and enginePower. Assign arbitrary values to the keys.

Print the dictionary in the form:

- Manufacturer: Opel
- Model: Astra
- Engine volume: 2.2
- Engine power: 144

[Example car data](https://www.autosnout.com/Car-Power-List.php)

Manufacturer: Opel
model: Astra
Engine volume: 2.2
Engine power: 144

<div class="alert alert-info"><b>Example 06</b></div>

Write a code that initializes a list of dictionaries.

```
data = [{ "id": 1,  "first_name": "Aleksandr",  "last_name": "Matuszewski",  "email": "amatuszewski0@issuu.com",  "gender": "M" },
{ "id": 2,  "first_name": "Jacobo",  "last_name": "Papaminas",  "email": "jpapaminas1@networksolutions.com",  "gender": "M"},
{ "id": 3,  "first_name": "Jannel",  "last_name": "Skerme",  "email": "jskerme2@bloglines.com",  "gender": "F"},
{ "id": 4,  "first_name": "Foss",  "last_name": "Yosselevitch",  "email": "fyosselevitch3@goo.gl",  "gender": "M"},
{ "id": 5,  "first_name": "Alexina",  "last_name": "Pitrasso",  "email": "apitrasso4@barnesandnoble.com",  "gender": "F" }]
```

Iterate the list and print last name and email.

While iterating, delete first name and gender.

In the end print the entire list.

Matuszewski amatuszewski0@issuu.com
Papaminas jpapaminas1@networksolutions.com
Skerme jskerme2@bloglines.com
Yosselevitch fyosselevitch3@goo.gl
Pitrasso apitrasso4@barnesandnoble.com
[{'id': 1, 'last_name': 'Matuszewski', 'email': 'amatuszewski0@issuu.com'}, {'id': 2, 'last_name': 'Papaminas', 'email': 'jpapaminas1@networksolutions.com'}, {'id': 3, 'last_name': 'Skerme', 'email': 'jskerme2@bloglines.com'}, {'id': 4, 'last_name': 'Yosselevitch', 'email': 'fyosselevitch3@goo.gl'}, {'id': 5, 'last_name': 'Pitrasso', 'email': 'apitrasso4@barnesandnoble.com'}]

## Tuple

An n-tuple is similar to a list.

- ordered structure
- the main difference is that n-tuple content cannot be changed (immutable)
- it's not unusual to mix values of different types

<div class="alert alert-info"><b>Example 07</b></div>

Create an n-tuple containing 5 numbers. 

Change the 5th element to the letter 'A' and delete the 4th element.

> Hint: use list() and tuple() conversions to work around immutability

Also, add a complex number element to a tuple.

(2, 3, 5, 'A')

<div class="alert alert-info"><b>Example 08</b></div>

Load the student's name, surname and student identifier from the user and make an n-tuple out of that. 

Unpack the n-tuple and print the student's last name.

> Hint: you can use discard operator `_` for that

Smith

## Set

Each element of a set is different to other elements in the same set.

Inside a set, no item can be changed.

- actually an item of the set can be replaced, but item in the set must be immutable and cannot be changed
- set is mutable but its members are immutable

Order of set does not matter.

<div class="alert alert-info"><b>Example 09</b></div>

Write a program in which you fill the list with 30 random numbers between 1 and 100. 

Create the program that will remove all the duplicate numbers.

> Use set() conversion for that

Print the unique numbers.

{5, 6, 7, 22, 28, 30, 31, 34, 35, 37, 39, 45, 58, 62, 68, 75, 78, 79, 80, 82, 83, 87, 88, 92, 93, 97}

<br><div class="alert alert-info"><b>Example 10</b></div>

Write a program in which you fill the list with 300 random numbers between 1 and 1000. 

Remove all the duplicate numbers from that list and print how many duplicate numbers were there.

> Hint: You can sort the list e.g. using in-place sorting.

40
40

Another way of solving this is by using sets.

39

## Exercises

<div class="alert alert-info"><b>Task 01</b></div>

Write a program that initializes the list with 5 names.

Reverse each name using a for loop, and print original and reversed list.

['Cathy', 'Gianni', 'Lian', 'Camilla', 'Eve']
['yhtaC', 'innaiG', 'naiL', 'allimaC', 'evE']

<div class="alert alert-info"><b>Task 02</b></div>

Start with the previous example.

For each name in original list print also its index, and the item at that index in reversed name list.

Cathy 0 yhtaC
Gianni 1 innaiG
Lian 2 naiL
Camilla 3 allimaC
Eve 4 evE

<div class="alert alert-info"><b>Task 03</b></div>

Start with the previous example.

Use `zip()` function to correlate items in two lists and print them.

('Cathy', 'yhtaC')
Cathy -> yhtaC
('Gianni', 'innaiG')
Gianni -> innaiG
('Lian', 'naiL')
Lian -> naiL
('Camilla', 'allimaC')
Camilla -> allimaC
('Eve', 'evE')
Eve -> evE

<br><div class="alert alert-info"><b>Task 04</b></div>

Write a program in which you fill the list with 100 random numbers between 1 and 1000. 

Print how many even elements are there in a list.

Then remove all the odd elements and count again how many elements are there in a list.

100
56

<br><div class="alert alert-info"><b>Task 05</b></div>

Create an empty dictionary. Load the user's 5 domain tags and the country to which the domain belongs to the dictionary. After entering, print the contents of the dictionary in the format of country - domain name.

hr Croatia
fr France
ua Ukraine
au Australia
de Germany

<br><div class="alert alert-info"><b>Task 06</b></div>

For the previous example, after input, allow the user to search endlessly by domain tag. If the domain does not exist in the dictionary, inform the user about it.

No such country tag
Australia
Ukraine
Croatia
Have a nice day!

<br><div class="alert alert-info"><b>Task 07</b></div>

Write a program that will for each letter of the alphabet store its ASCII code. Print the contents of the data structure.

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

<br><div class="alert alert-info"><b>Task08</b></div>

Write a program to enter survey data on students and their favorite programming language (key: name, value: favorite programming language).
Allow the user to enter survey results as long as he wants. Ensure that survey entries are unique (the key to making the survey unique is the username). 

Print the survey results in the form: <br>
- Name:
- Favorite language:

{'Cathy': 'C++', 'Peter': 'Python', 'Jane': 'Java'}

<br><div class="alert alert-info"><b>Task 09</b></div>

Write a program that will parse the following string: `key1=value1;key2=value2;key3=value3`.

Use an appropriate structure for that.

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

<br><div class="alert alert-info"><b>Task 10</b></div>

Write a program that inputs two strings, swaps their values using tuples and outputs them.

bbb aaa

<br><div class="alert alert-info"><b>Task 11</b></div>

Write a program that initializes 3 strings and starts the for loop that runs 10 times. In for loop, it rotates 3 strings (str1=> str2, str2=>str3, str3=>str1) using tuples and writes strings in the same line, with number of iteration: 
```
0: str1 str2 str3
1: str3 str1 str2
2: str2 str3 str1
...
```

0 111 222 333
1 333 111 222
2 222 333 111
3 111 222 333
4 333 111 222
5 222 333 111
6 111 222 333
7 333 111 222
8 222 333 111
9 111 222 333

<br><div class="alert alert-info"><b>Task 12</b></div>

Write a program that asks for two strings.

Then it should print the following:

- all characters that can be found in strings, but without repetition (for 'abc' and 'bcd', it should print 'abcd')
- all the characters that exist in both strings (for 'abc' and 'bcd', it should print 'bc')
- all the characters that exist in first but not in second string (for 'abc' and 'bcd', it should print 'a')
- all characters in strings, but but without intersection (for 'abc' and 'bcd', it should print 'ad')

> Hint: set structure implements all these operations

String 1 is abc
String 2 is bcd
abcd
bc
a
ad